
.right-section{
    flex-basis: 300px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 44, 44);
}
.top, .bottom, .middle{
    flex-grow: 1;
    color: white;
}
.top{
    flex-basis: 180px;
    background-color:rgba(209, 200, 200, 0.209);
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
}
.top p{
 font-size: 1.2rem;
 font-weight: bold;
 max-width: 600px;

}
.middle{
    flex-basis: 200px;
   
}
.middle-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2px;
    border-bottom:solid 1px;
    border-bottom-color:solid white; 
    padding-bottom: 30px;
}
.middle-heading{
    width: 200px;
    padding-left: 50px;
    font-size:1.4rem ;
    font-weight: bold;
}
.grid-1, .grid-2{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 30px;
}

label{
    font-size: 0.9rem;
    margin-bottom: 2px;
}
input{
    margin-bottom: 20px;
    width: 200px;
    padding: 2px;
    border:1px solid lightgray;
    border-radius: 4px;
}
input:focus{
    outline:none;
    border:2px solid blue
}
.bottom{
    padding-left: 50px;
    padding-top: 30px;
    background-color:rgba(209, 200, 200, 0.209);
    
}
.bottom button{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(7, 77, 7);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.bottom button:hover{
    opacity: 0.5;
}
.las-btn{
    font-size: 0.8rem;
    padding-bottom: 20px;
}
.login{
    color: rgb(134, 134, 237)
}